body {
background-color: rgb(162, 255, 0);
}
p{
    background-size: 0cqmax;
    background-color: aqua;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border:solid blue 5px;
    text-align: center;
}
.clase1{
        font-family: Arial, Helvetica, sans-serif;
        font-size:large;
}
.clase2{
    text-align: center;
}
.clase3{
    border:solid black 4px;
    text-align: center;
}