body {
background-color: rgb(162, 255, 0);
}
p {
    background-size: 0cqmax;
    background-color: aqua;
}
.clase1{
        font-family: Arial, Helvetica, sans-serif;
        font-size:large;
}
.clase2{
    text-align: center;
}